.app {
  padding: var(--spacing-l)
}

.select {
  align-self: flex-end;
}

.games {
  column-gap: var(--spacing);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: var(--spacing);
  row-gap: var(--spacing);
}
