.app {
  padding: var(--spacing-l);
}

.app-header {
  align-items: center;
}

.app-header h2 {
  margin: 0;
}

.select {
  align-self: flex-end;
}

.games {
  column-gap: var(--spacing);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: var(--spacing);
  row-gap: var(--spacing);
}
