* {
  box-sizing: border-box;
}

:root {
  --spacing-xs: 8px;
  --spacing: 24px;
  --spacing-s: 12px;
  --spacing-l: 36px;
}

html,
body {
  margin: 0;
  height: 100%;
  padding: 0;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: wrap;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex {
  flex: 1;
}
